{
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": false,
    "flush": false,
    "fixture": false,
    "expect": false,
    "a11ySuite": false,
    "MockInteractions": false,
    "WCT" : false
  }
}
